.footer {
    padding: 60px 0 0 0;
    background: #111112;
}
.footer-row{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.footer-article{
    flex-basis: 20%;
    max-width: 250px;
    flex-grow: 4;
    margin: 0 20px;
}
.footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer li, .footer a {
    color: #397c73;
    font-size: 13px;
    font-weight: 300;
    line-height: 24px;
    text-decoration: none;
}
.footer .footer-title {
    margin-bottom: .5rem;
    font-size: 14px;
    color: #8d894e;
    border-bottom: 1px solid #333;
}

.footer .bottom-footer-content{
    width: 100%;
    background-color: #000;
}

.footer .bottom-footer-content .copy-footer{
    margin-top: 25px;
    padding: 25px 0;
    color: #8d894e;
    text-align: center;
}

.footer .bottom-footer-content .copy-footer p{
    margin: 0 !important;
}


/*effects*/

.footer-effect-links a:hover,
.footer-effect-links a:focus {
    outline: none;
}

/* Effect 1: Brackets */
.footer-effect-links a::before,
.footer-effect-links a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.footer-effect-links a::before {
    box-sizing: border-box;
    padding-right: 10px;
    content: '[';
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    transform: translateX(50px);
}

.footer-effect-links a::after {
    box-sizing: border-box;
    padding-left: 10px;
    content: ']';
    -webkit-transform: translateX(-50px);
    -moz-transform: translateX(-50px);
    transform: translateX(-50px);
}

.footer-effect-links a:hover::before,
.footer-effect-links a:hover::after,
.footer-effect-links a:focus::before,
.footer-effect-links a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}







@media screen and (max-width: 750px) {
    .row{
        flex-wrap: wrap;
    }
    .footer-article{
        flex-basis: 50%;
        margin: 0 20px;
    }
}

@media screen and (max-width: 596px){
    .footer-article{
        text-align: center;
    }

    .footer-article:nth-child(1),
    .footer-article:nth-child(2),
    .footer-article:nth-child(3){
        display: none;
    }
}
