@import url('https://fonts.googleapis.com/css?family=Orbitron');
.rw-wrapper{
	width: 80%;
	position: relative;
	margin: 0 auto;
	padding: 10px;
}
.rw-sentence{
	margin: 0;
}
.rw-sentence span{
	text-align: center;
	text-transform: uppercase;
	color: rgba(255,255,255,1);
	font-family: Orbitron;
	white-space: nowrap;
	text-shadow: 5px 5px 10px rgba(0,0,0,1);
}
.rw-sentence > span{
	position: absolute;
}
.rw-sentence > span:first-child{
	top: -25px;
	left: 140px;
	font-size: 250%;
	color: #d0ced1;
}
.rw-sentence > span:nth-child(2){
	top: 50px;
	left: 140px;
	font-size: 250%;
	color: #d0ced1;
}
.rw-sentence > span:nth-child(3){
	top: 120px;
	left: 140px;
	font-size: 250%;
	color: #d0ced1;
}
.rw-sentence > span:last-child{
	top: 190px;
	left: 140px;
	font-size: 250%;
	color: #d0ced1;
}
.rw-words{
	position: absolute;
	left: 120px;
	top: 120px;
	height: 80px;
	width: 300px;
	-webkit-perspective: 800px;
	perspective: 800px;
}
.rw-words span{
	outline: none;
	position: absolute;
	font-size: 250%;
	color: #3f534a;
	text-shadow: 0 0 80px rgba(0, 0, 0, 0.71);
	opacity: 0;
	-webkit-animation: rotateWord 18s linear infinite 0s;
	-ms-animation: rotateWord 18s linear infinite 0s;
	animation: rotateWord 18s linear infinite 0s;
}
.rw-words span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s; 
}
.rw-words span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
}
.rw-words span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
	-ms-animation-delay: 9s; 
	animation-delay: 9s; 
}
.rw-words span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
	-ms-animation-delay: 12s; 
	animation-delay: 12s; 
}
.rw-words span:nth-child(6) { 
    -webkit-animation-delay: 15s; 
	-ms-animation-delay: 15s; 
	animation-delay: 15s; 
}
@-webkit-keyframes rotateWord {
    0% { opacity: 0; -webkit-animation-timing-function: ease-in; -webkit-transform: translateY(-200px) translateZ(300px) rotateY(-120deg); }
    5% { opacity: 1; -webkit-animation-timing-function: ease-out; -webkit-transform: translateY(0px) translateZ(0px) rotateY(0deg); }
	6% { text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.71); color: #1F423C; }
    17% { opacity: 1; text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.71); color: #1F423C; }
    20% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; -ms-animation-timing-function: ease-in; -ms-transform: translateY(-200px) translateZ(300px) rotateY(-120deg); }
    5% { opacity: 1; -ms-animation-timing-function: ease-out; -ms-transform: translateY(0px) translateZ(0px) rotateY(0deg); }
	6% { text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.71); color: #1F423C; }
    17% { opacity: 1; text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.71); color: #1F423C; }
    20% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; -webkit-transform: translateY(-200px) translateZ(300px) rotateY(-120deg); transform: translateY(-200px) translateZ(300px) rotateY(-120deg); }
    5% { opacity: 1; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; -webkit-transform: translateY(0px) translateZ(0px) rotateY(0deg); transform: translateY(0px) translateZ(0px) rotateY(0deg); }
	6% { text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.71); color: #1F423C; }
    17% { opacity: 1; text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.71); color: #1F423C; }
    20% { opacity: 0; }
    100% { opacity: 0; }
}

@media screen and (max-width: 750px){
	.rw-sentence > span{
		position: inherit;
		font-size: 20px;
	}

	.rw-sentence{
		font-size: 20px;
	}
}
@media screen and (max-width: 622px){
	.rw-wrapper{
		display: none;
	}
}

